<app-adminheader />

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <!-- Contenedor del buscador y botón de creación -->
      <div
        class="container flex w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end"
      >
        <div class="relative flex-grow w-full">
          <div class="flex">
            <label
              for="search-dropdown"
              class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
              >Nombre de empleado</label
            >
            <button
              id="dropdown-button"
              data-dropdown-toggle="dropdown"
              class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-e-0 border-gray-300 dark:border-gray-700 dark:text-white rounded-s-lg hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800"
              type="button"
            >
              Buscar por
              <svg
                class="w-2.5 h-2.5 ms-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>
            <div
              id="dropdown"
              class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
            >
              <ul
                class="py-2 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdown-button"
              >
                <!-- ciclo de tipos-->
                <li>
                  <a
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Producto</a
                  >
                </li>
                <li>
                  <a
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Marca</a
                  >
                </li>
                <li>
                  <a
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Precio</a
                  >
                </li>
                <li>
                  <a
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >Categoria</a
                  >
                </li>
              </ul>
            </div>
            <div class="relative w-full">
              <input
                type="search"
                id="search-dropdown"
                class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-e-lg rounded-s-gray-100 rounded-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
                placeholder="Buscar"
                required
              />
              <button
                type="submit"
                class="absolute top-0 end-0 p-2.5 h-full text-sm font-medium text-white bg-blue-700 rounded-e-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >
                <svg
                  class="w-4 h-4"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 20 20"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Productos Activos -->
      <div class="w-full py-6">
        <h1 class="text-2xl font-semibold mb-8">Productos Activos</h1>
      </div>
      <div
        class="lg:w-1/4 md:w-1/2 p-4 w-full"
        *ngFor="
          let producto of this.servicioInventario.productosActivos();
          index as i;
          first as isFirst
        "
      >
        <div class="h-full p-4 border border-gray-200 rounded-lg">
          <a
            class="block relative h-48 rounded overflow-hidden"
            routerLink="/admin/gestionProductosEspecifico/{{ producto.id }}"
          >
            <img
              alt="ecommerce"
              class="transition duration-1000 transform hover:scale-105 object-cover object-center w-full h-full block"
              height="260"
              width="420"
              [src]="producto.url_imagenes[0].url"
            />
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
              {{ producto.marca.nombreMarca }}
            </h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">
              {{ producto.nombre }}
            </h2>
            <p class="mt-1">
              {{ producto.precio | currency : "Q" }}
            </p>
            <p class="mt-1">
              Cantidad:
              {{
                producto.inventario != null
                  ? producto.inventario.cantidadtotal
                  : "Sin Unidades registradas"
              }}
            </p>
            <div
              *ngFor="let estado of this.servicioInventario.estadosInventario()"
            >
              <div
                *ngIf="estado.id === producto.inventario?.idestadoinventario"
              >
                <div *ngIf="estado.id === 1; else secondState">
                  <span
                    class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300"
                  >
                    <span class="w-2 h-2 me-1 bg-green-500 rounded-full"></span>
                    {{ estado.estado }}
                  </span>
                </div>

                <ng-template #secondState>
                  <div *ngIf="estado.id === 2; else thirdState">
                    <span
                      class="inline-flex items-center bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300"
                    >
                      <span class="w-2 h-2 me-1 bg-red-500 rounded-full"></span>
                      {{ estado.estado }}
                    </span>
                  </div>
                </ng-template>

                <ng-template #thirdState>
                  <div *ngIf="estado.id === 3">
                    <span
                      class="inline-flex items-center bg-yellow-100 text-yellow-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-yellow-900 dark:text-yellow-300"
                    >
                      <span
                        class="w-2 h-2 me-1 bg-yellow-500 rounded-full"
                      ></span>
                      {{ estado.estado }}
                    </span>
                  </div>
                </ng-template>
              </div>
            </div>

            <div class="flex flex-wrap gap-2 mt-4">
              <button
                type="button"
                class="text-yellow-900 bg-white border border-yellow-300 focus:outline-none hover:bg-yellow-100 focus:ring-4 focus:ring-yellow-100 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-yellow-800 dark:text-white dark:border-yellow-600 dark:hover:bg-yellow-700 dark:hover:border-yellow-600 dark:focus:ring-yellow-700"
                (click)="openModal('eliminar', producto)"
              >
                Edicion de cantidad
              </button>
              <button
                type="button"
                class="text-red-900 bg-white border border-red-300 focus:outline-none hover:bg-red-100 focus:ring-4 focus:ring-red-100 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-red-800 dark:text-white dark:border-red-600 dark:hover:bg-red-700 dark:hover:border-red-600 dark:focus:ring-red-700"
                (click)="this.cambiarEstado(producto.id, false)"
              >
                Dar de baja
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Separador con espacio adicional -->
      <div class="w-full my-16">
        <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700" />
      </div>

      <!-- Contenedor del título de Productos Desactivados -->
      <div class="w-full">
        <h1 class="text-2xl font-semibold mb-8">Productos Desactivados</h1>
      </div>

      <!-- Productos Desactivados -->
      <div
        class="lg:w-1/4 md:w-1/2 p-4 w-full"
        *ngFor="
          let producto of this.servicioInventario.productosDesactivos();
          index as i;
          first as isFirst
        "
      >
        <div class="h-full p-4 border border-gray-200 rounded-lg">
          <a
            class="block relative h-48 rounded overflow-hidden"
            routerLink="/admin/gestionProductosEspecifico/{{ producto.id }}"
          >
            <img
              alt="ecommerce"
              class="transition duration-1000 transform hover:scale-105 object-cover object-center w-full h-full block"
              height="260"
              width="420"
              [src]="producto.url_imagenes[0].url"
            />
          </a>
          <div class="mt-4">
            <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">
              {{ producto.marca.nombreMarca }}
            </h3>
            <h2 class="text-gray-900 title-font text-lg font-medium">
              {{ producto.nombre }}
            </h2>
            <p class="mt-1">
              {{ producto.precio | currency : "Q" }}
            </p>
            <p class="mt-1">
              Cantidad:
              {{
                producto.inventario != null
                  ? producto.inventario.cantidadtotal
                  : "Sin Unidades registradas"
              }}
            </p>

            <div class="flex flex-wrap gap-2 mt-4">
              <button
                type="button"
                class="text-green-900 bg-white border border-green-300 focus:outline-none hover:bg-green-100 focus:ring-4 focus:ring-green-100 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-800 dark:text-white dark:border-green-600 dark:hover:bg-green-700 dark:hover:border-green-600 dark:focus:ring-green-700"
                (click)="this.cambiarEstado(producto.id, true)"
              >
                Reactivar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="this.isModalVisible">
      <app-editar-cantidad
        [id]="this.seleccionado"
        [isVisible]="this.isModalVisible"
        (closeModal)="closeModal()"
      ></app-editar-cantidad>
    </div>
  </div>
</section>
