<div class="bg-gray-100 min-h-screen p-6">
  <div class="container mx-auto">
    <!-- Título principal -->
    <h1 class="text-4xl font-bold mb-10 text-center text-gray-800">Listado de productos</h1>

    <!-- Sección de Categorías -->
<h2 class="text-3xl font-semibold mb-6 text-center text-gray-700">Categorías</h2>
<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mb-10">
  <div *ngFor="let categoria of categorias" class="relative bg-white rounded-lg shadow-md overflow-hidden flex flex-col transition-transform transform hover:scale-105">
    <a [routerLink]="['/cliente/producto', categoria.id]" class="flex flex-col h-full">
      <div class="relative w-full h-48">
        <img [src]="categoria.imagen[0].url" alt="{{ categoria.nombreCategoria }}" class="w-full h-full object-cover" />
        <div class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-50">
          <h3 class="text-lg sm:text-xl font-medium text-white text-center p-4">{{ categoria.nombreCategoria }}</h3>
        </div>
      </div>
    </a>
  </div>
</div>


    <!-- Sección de Productos -->
    <h2 class="text-3xl font-semibold mb-6 text-center text-gray-700">Productos</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div *ngFor="let product of products" class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col transition-transform transform hover:scale-105">
        <app-producto-card [product]="product"></app-producto-card>
      </div>
    </div>
  </div>
</div>
