<body class="bg-gray-900 flex items-center justify-center min-h-screen">
    <div class="form-container p-8 rounded-lg shadow-md w-full max-w-md">
        <br><br><br>
        <h2 class="text-2xl font-bold mb-6 text-center">Formulario de Registro</h2>
        <form [formGroup]="formulario" (ngSubmit)="crearUsuario()">

          <div class="mb-4 input-group">
            <label for="nombre" class="block text-gray-700 font-medium mb-2">Nombre</label>
            <input type="text" id="nombre" formControlName="nombre" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            <div *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched" class="text-red-500">
              <div *ngIf="formulario.get('nombre')?.errors?.['required']">El nombre es requerido.</div>
              <div *ngIf="formulario.get('nombre')?.errors?.['minlength']">El nombre debe tener al menos 3 caracteres.</div>
            </div>
          </div>
        
          <div class="mb-4 input-group">
            <label for="correo" class="block text-gray-700 font-medium mb-2">Correo Electrónico</label>
            <input type="email" id="correo" formControlName="correo" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            <div *ngIf="formulario.get('correo')?.invalid && formulario.get('correo')?.touched" class="text-red-500">
              <div *ngIf="formulario.get('correo')?.errors?.['required']">El correo es requerido.</div>
              <div *ngIf="formulario.get('correo')?.errors?.['email']">Debe ser un correo electrónico válido.</div>
            </div>
          </div>
        
          <div class="mb-4 input-group">
            <label for="nit" class="block text-gray-700 font-medium mb-2">NIT</label>
            <input type="text" id="nit" formControlName="nit" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            <div *ngIf="formulario.get('nit')?.invalid && formulario.get('nit')?.touched" class="text-red-500">
              <div *ngIf="formulario.get('nit')?.errors?.['required']">El NIT es requerido.</div>
              <div *ngIf="formulario.get('nit')?.errors?.['pattern']">El NIT debe contener solo números.</div>
            </div>
          </div>
        
          <div class="mb-4 input-group">
            <label for="direccion" class="block text-gray-700 font-medium mb-2">Dirección</label>
            <input type="text" id="direccion" formControlName="direccion" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            <div *ngIf="formulario.get('direccion')?.invalid && formulario.get('direccion')?.touched" class="text-red-500">
              <div *ngIf="formulario.get('direccion')?.errors?.['required']">La dirección es requerida.</div>
              <div *ngIf="formulario.get('direccion')?.errors?.['minlength']">La dirección debe tener al menos 5 caracteres.</div>
            </div>
          </div>
        
          <div class="mb-4 input-group">
            <label for="nombreUsuario" class="block text-gray-700 font-medium mb-2">Nombre Usuario</label>
            <input type="text" id="nombreUsuario" formControlName="nombreUsuario" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            <div *ngIf="formulario.get('nombreUsuario')?.invalid && formulario.get('nombreUsuario')?.touched" class="text-red-500">
              <div *ngIf="formulario.get('nombreUsuario')?.errors?.['required']">El nombre de usuario es requerido.</div>
              <div *ngIf="formulario.get('nombreUsuario')?.errors?.['minlength']">El nombre de usuario debe tener al menos 3 caracteres.</div>
            </div>
          </div>
        
          <div class="mb-4 input-group">
            <label for="contrasenia" class="block text-gray-700 font-medium mb-2">Contraseña</label>
            <input type="password" id="contrasenia" formControlName="contrasenia" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            <div *ngIf="formulario.get('contrasenia')?.invalid && formulario.get('contrasenia')?.touched" class="text-red-500">
              <div *ngIf="formulario.get('contrasenia')?.errors?.['required']">La contraseña es requerida.</div>
              <div *ngIf="formulario.get('contrasenia')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</div>
            </div>
          </div>

          <div class="mb-4 input-group">
            <label for="contrasenia" class="block text-gray-700 font-medium mb-2">Confirme la Contraseña</label>
            <input type="password" id="contrasenia2" formControlName="contrasenia2" class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            <div *ngIf="formulario.get('contrasenia2')?.invalid && formulario.get('contrasenia')?.touched" class="text-red-500">
              <div *ngIf="formulario.get('contrasenia2')?.errors?.['required']">La contraseña es requerida.</div>
              <div *ngIf="formulario.get('contrasenia2')?.errors?.['minlength']">La contraseña debe tener al menos 6 caracteres.</div>
            </div>
          </div>
          <div class="mb-6">
            <label for="forma_pago" class="block text-gray-400 font-medium mb-2">Forma de Pago</label>
            <select id="forma_pago" formControlName="idTipoFormaPago" class="w-full p-2 border border-gray-700 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" style="background-color: rgba(17, 24, 39, 1);">
              <option *ngFor="let opcion of formasPago" value={{opcion.id}}>{{opcion.tipo}}</option>
            </select>
            <div *ngIf="formulario.get('idTipoFormaPago')?.invalid && formulario.get('idTipoFormaPago')?.touched" class="text-red-500">
              <div *ngIf="formulario.get('idTipoFormaPago')?.errors?.['required']">Debe seleccionar una forma de pago.</div>
            </div>
          </div>
        
          <button type="submit" class="w-full sign focus:ring-offset-2">
            Continuar
          </button>
        </form>
        
               
    </div>
</body>