<app-adminheader />

<div class="max-w-7xl mx-auto p-4 md:p-5">
  <h2 class="text-xl font-semibold text-gray-900 dark:text-white">
    Edicion de producto
  </h2>
  <!-- Campos de edición -->
  <div class="flex-col">
    <div class="relative mb-4 flex flex-wrap space-y-4">
      <div class="w-full md:w-1/2 pr-4">
        <label
          for="nombre"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Nombre
        </label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          required
          [value]="this.producto.nombre"
          [(ngModel)]="this.producto.nombre"
        />
      </div>
      <div class="w-full md:w-1/2 pr-4">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="file_input"
          >Selecciona una marca</label
        >

        <form class="max-w-sm mx-auto">
          <select
            id="marcas"
            name="marcas"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [(ngModel)]="this.marca"
          >
            <option *ngFor="let item of this.marcasTotales()" [ngValue]="item">
              {{ item.nombreMarca }}
            </option>
          </select>
        </form>
      </div>

      <div class="w-full md:w-1/3 pr-4">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="file_input"
          >selecciona una categoria</label
        >

        <form class="max-w-sm mx-auto">
          <select
            id="categorias"
            name="categorias"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            [(ngModel)]="this.categoria"
          >
            <option
              *ngFor="let item of this.categoriasTotales()"
              [ngValue]="item"
            >
              {{ item.nombreCategoria }}
            </option>
          </select>
        </form>
      </div>
      <div class="w-full md:w-1/3 pr-4">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="file_input"
          >Ingresa el precio</label
        >
        <input
          type="number"
          id="nombre"
          name="nombre"
          min="0"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          required
          [value]="this.producto.precio"
          [(ngModel)]="this.producto.precio"
        />
      </div>
      <div class="w-full md:w-1/3 pr-4">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="file_input"
          >Ingresa el minimo que debe de tener de inventario</label
        >
        <input
          type="number"
          id="nombre"
          name="nombre"
          min="1"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
          required
          [value]="this.producto.minimoInventario"
          [(ngModel)]="this.producto.minimoInventario"
        />
      </div>
      <div class="w-full md:w-1/1 pr-4">
        <label
          for="message"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Descripcion</label
        >
        <textarea
          id="message"
          rows="4"
          class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          [value]="this.producto.descripcion"
          [(ngModel)]="this.producto.descripcion"
        ></textarea>
      </div>
      <div class="w-full md:w-1/1 pr-4">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="file_input"
          >Agregar mas imagenes, selecciona una imagen</label
        >
        <input
          class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          id="file_input"
          type="file"
          (change)="onFileSelected($event)"
        />
      </div>
      <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
      <div class="w-full md:w-1/1 pr-4">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="file_input"
          >Eliminar imagenes, selecciona una foto</label
        >

        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
          <div
            class="relative"
            *ngFor="let imagen of this.producto.url_imagenes; let i = index"
          >
            <img
              class="h-auto max-w-full rounded-lg"
              [src]="imagen.url"
              alt="Imagen {{ i }}"
            />
            <!-- Icono de 'X' -->
            <button
              class="absolute top-2 right-2 bg-red-500 text-white rounded-full p-1 hover:bg-red-700"
              (click)="eliminarImagenes(imagen)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                class="w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 18L18 6M6 6l12 12"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/1 pr-4">
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          for="eliminar"
          >Imagenes seleccionadas para eliminar</label
        >

        <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
          <div
            class="relative"
            *ngFor="let imagen of this.imagenesEliminar; let i = index"
          >
            <img
              class="h-auto max-w-full rounded-lg"
              [src]="imagen.url"
              alt="Imagen {{ i }}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <button
    type="submit"
    class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    (click)="this.guardarEdicion()"
  >
    Guardar producto
  </button>
</div>
