<app-adminheader />

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <!-- Productos Activos -->
      <div class="container mx-auto">
        <!-- Buscador -->
        <div class="flex justify-between mb-4">
          <input
            type="text"
            class="border border-gray-300 px-4 py-2 rounded-lg w-1/3"
            placeholder="Buscar por nombre..."
            [(ngModel)]="searchTerm"
            (input)="applyFilter()"
          />
        </div>

        <!-- Tabla -->
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table
            class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="px-6 py-3">ID</th>
                <th scope="col" class="px-6 py-3">Nombre</th>
                <th scope="col" class="px-6 py-3">Email</th>
                <th scope="col" class="px-6 py-3">Email</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let user of this.comprasServicio.compras()"
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700"
              >
                <td class="px-6 py-4">{{ user.id }}</td>
                <td class="px-6 py-4">{{ user.usuario.persona.nombre }}</td>
                <td class="px-6 py-4">{{ user.direccionEntrega }}</td>
                <td class="px-6 py-4">{{ user.precioTotal }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Paginación -->
        <nav
          class="flex justify-between items-center pt-4"
          aria-label="Table navigation"
        >
          <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
            >Mostrando {{ currentPage * pageSize - pageSize + 1 }}–{{
              currentPage * pageSize
            }}
            de {{ filteredUsers.length }} resultados</span
          >
          <ul class="inline-flex items-center -space-x-px">
            <li>
              <button
                (click)="previousPage()"
                [disabled]="currentPage === 1"
                class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700"
              >
                Anterior
              </button>
            </li>
            <li>
              <button
                (click)="nextPage()"
                [disabled]="currentPage === totalPages"
                class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700"
              >
                Siguiente
              </button>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Separador con espacio adicional -->
      <div class="w-full my-16">
        <hr class="h-px bg-gray-200 border-0 dark:bg-gray-700" />
      </div>

      <!-- Contenedor del título de Productos Desactivados -->
      <div class="w-full">
        <h1 class="text-2xl font-semibold mb-8">Productos Empaquetados</h1>
      </div>

      <!-- Contenedor del título de Productos Desactivados -->
      <div class="w-full">
        <h1 class="text-2xl font-semibold mb-8">Productos Entragados</h1>
      </div>

      <!-- Contenedor del título de Productos Desactivados -->
      <div class="w-full">
        <h1 class="text-2xl font-semibold mb-8">Productos Cancelados</h1>
      </div>
      <!-- Productos Desactivados -->
    </div>
  </div>
</section>
