<h2 class="text-3xl font-semibold mb-6 text-center text-gray-700">Productos</h2>
<h2 class="text-3xl font-semibold mb-6 text-center text-gray-700">{{tipo+': '+nombre}}</h2>
<div class="p-4 bg-gray-100 rounded-lg shadow-md mb-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
      
  
      
      <!-- app.component.html -->
<div>
  <select
    id="categoryFilter"
    class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-400"
    (change)="onCategoryChange($event)"
  >
    <option value="">Todas las categorías</option>
    <option *ngFor="let category of categorias" [value]="category.id">
      {{ category.nombreCategoria }}
    </option>
  </select>
</div>

<!-- Filtro por Marca -->
<div>
  <select
    id="brandFilter"
    class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-400"
    (change)="onBrandChange($event)"
  >
    <option value="">Todas las marcas</option>
    <option *ngFor="let brand of marcas" [value]="brand.id">
      {{ brand.nombreMarca }}
    </option>
  </select>
</div>

      
      
  
    </div>
  </div>
  


    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <div *ngFor="let product of products" class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col transition-transform transform hover:scale-105">
        <app-producto-card [product]="product"></app-producto-card>
        
      </div>
      
    </div>
    <h1><span *ngIf="vacio">No se encontraron productos</span></h1>
