.buscador-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.title {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  width: 100%;
}

.search-field {
  width: 80%;
  max-width: 600px;
}

.mat-form-field {
  width: 100%;
  background-color: transparent;
}

.mat-form-field-label {
  color: white;
}

.mat-form-field .mat-form-field-flex {
  background-color: rgb(24, 34, 57);
}

.mat-form-field .mat-form-field-infix {
  background-color: rgb(24, 34, 57);
  border-radius: 8px;
}

.mat-form-field .mat-form-field-outline {
  border: none;
}

.mat-form-field .mat-form-field-outline-thick {
  border-color: rgba(0, 0, 0, 0.12);
}

.mat-form-field .mat-form-field-ripple {
  background-color: rgba(0, 0, 0, 0.1);
}

.mat-form-field input {
  padding: 10px;
  color: white;
}

.mat-form-field input::placeholder {
  color: #999;
}

.mat-form-field .mat-icon {
  color: #757575;
}

.mat-form-field input:focus {
  outline: none;
  border: 2px solid white;
}
