<app-adminheader />
<section class="text-gray-50 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <p
        class="text-3xl text-gray-50 tracking-widest font-bold title-font mb-1"
      >
        {{ this.persona.nombre }}
    </p>
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-300"
      >
        {{ this.usuario.nombreUsuario }} - {{ this.persona.correoElectronico }}
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-start">
        En esta sección usted podrá seleccionar qué permisos desea que tenga el
        usuario
      </p>
    </div>
    <div class="flex flex-wrap">
      <div
        *ngFor="let item of this.permisosGenerales(); index as i"
        class="xl:w-1/3 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-gray-200 border-opacity-60"
      >
        <h2
          class="text-lg sm:text-xl text-gray-100 font-medium title-font mb-2 flex items-center"
        >
          {{ item.tipoarea }}
        </h2>
        <div class="row">
          <div class="flex items-start mb-6">
            <div class="flex items-center h-5">
              <input
                id="remember{{ i }}"
                type="checkbox"
                value="{{ item.id }}"
                [checked]="this.incluye(item)"
                (change)="onCheckboxChange(item, $event)"
                class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                required
                name="tipoRol{{ i }}"
              />
            </div>
            <label
              for="remember{{ i }}"
              class="ms-2 text-sm font-medium text-gray-100 dark:text-gray-300"
              >{{ item.tipo }}
            </label>
          </div>
        </div>
      </div>
    </div>
    <button
      class="flex mx-auto mt-16 text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg"
      (click)="this.guardarCambios()"
    >
      Guardar configuracion
    </button>
  </div>
</section>
