<div class="min-h-screen flex items-center justify-center bg-gray-900">
  <div *ngIf="verificacion==false"  class="bg-gray-800 p-8 rounded-lg shadow-lg w-full max-w-sm">
    <h2 class="text-3xl font-bold text-center text-white mb-8">Login</h2>

    <form (ngSubmit)="login()">
      <div class="mb-6">
        <label class="block text-gray-300 text-sm font-medium mb-2" for="email">Usuario</label>
        <input type="text" name="username" [(ngModel)]="correoElectronico" id="username" placeholder="Ingrese su username" required
          class="w-full px-4 py-3 rounded-lg bg-gray-700 border border-gray-600 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
      </div>

      <div class="mb-6">
        <label class="block text-gray-300 text-sm font-medium mb-2" for="password">Password</label>
        <input type="password" name="password" [(ngModel)]="contrasenia" id="password" placeholder="Enter your password" required
          class="w-full px-4 py-3 rounded-lg bg-gray-700 border border-gray-600 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
      </div>
      <button type="submit"
        class="w-full py-3 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        
        >
        Login
      </button >
    </form>
  </div>
  <div *ngIf="verificacion" class="bg-gray-800 p-8 rounded-lg shadow-lg w-full max-w-sm">
    <h2 class="text-3xl font-bold text-center text-white mb-8">Verificacion en dos pasos</h2>

    <form (ngSubmit)="verificar()">
      <div class="mb-6">
        <label class="block text-gray-300 text-sm font-medium mb-2" for="email">Ingrese token de validadcion:</label>
        <input type="text" name="token" [(ngModel)]="token" id="username" placeholder="Ingrese su token" required
          class="w-full px-4 py-3 rounded-lg bg-gray-700 border border-gray-600 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent">
      </div>
      <button type="submit"
        class="w-full py-3 bg-blue-600 text-white font-semibold rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50"
        
        >
        Login
      </button >
    </form>
  </div>
</div>